@page
@model IndexModel
@{
    ViewData["Title"] = "PETLAR - Bem-vindo ao seu portal de adoção!";
}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    
</head>

<body class="body-landing-page" style="width:100vw; display: flex; flex-direction: column; align-content: center;">

    <section class="hero-section text-center py-5">
        <div class="container">
            <div class="petlar-logo mb-4">
                <img src="/images/logo-petlar.png" alt="Logo">
                <h1 class="display-4 text-white">PETLAR</h1>
            </div>
            <h2 class="text-white">Adote um Amigo Peludo</h2>
            <p class="text-white lead">Conectando você com seu novo companheiro.</p>

            <div class="buttons-container mt-4">
                <a class="btn btn-custom btn-lg mx-2" href="/Home/index" role="button">ENCONTRE SEU NOVO AMIGO</a>
                <a class="btn btn-custom-secondary btn-lg mx-2" href="/register-ngo" role="button">CADASTRAR UMA ONG</a>
            </div>

            <p class="text-white mt-3">*Cadastro de ONGs é feito com um administrador.</p>
        </div>
    </section>

    <section class="py-5 bg-light text-center" style="width: 100vw; display: flex; flex-direction:column; align-content:center; align-items: center; justify-content:center;">
        <div class="container">
            <h2 class="text-start mb-5">Nossos Serviços</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card-info shadow-sm mb-4">
                        <img src="~/images/card-1.jpg" class="card-img-top" alt="Adoção Responsável">
                        <div class="card-body text-center">
                            <h5 class="card-title">Adoção Responsável</h5>
                            <p class="card-text">Facilitamos a adoção de animais, garantindo que cada pet encontre um lar adequado e seguro.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-info shadow-sm mb-4">
                        <img src="~/images/card-2.jpeg" class="card-img-top" alt="Doação de Recursos">
                        <div class="card-body text-center">
                            <h5 class="card-title">Doação de recursos</h5>
                            <p class="card-text">Oferecemos um serviço de doação onde você pode doar qualquer quantia em dinheiro ou até mesmo ração!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-info shadow-sm mb-4">
                        <img src="~/images/card-3.jpeg" class="card-img-top" alt="Parcerias">
                        <div class="card-body text-center">
                            <h5 class="card-title">Parcerias</h5>
                            <p class="card-text">Colaboramos com ONGs e outras organizações para promover o bem-estar dos animais e fortalecer a rede de apoio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="adopted-gallery text-center py-5">
        <div class="container">
            <h2 class="mb-4 text-start">Pets que já encontraram um lar</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="animal-card">
                    <div class="card border-0">
                        <div class="card-img-wrapper">
                            <img src="~/images/animal-1.jpeg" class="card-img-top img-fluid" alt="Pet Adotado">
                            <div class="card-overlay">
                                <p class="animal-name">Rex</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animal-card">
                    <div class="card border-0">
                        <div class="card-img-wrapper">
                            <img src="~/images/animal-2.jpeg" class="card-img-top img-fluid" alt="Pet Adotado">
                            <div class="card-overlay">
                                <p class="animal-name">Luna</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animal-card">
                    <div class="card border-0">
                        <div class="card-img-wrapper">
                            <img src="~/images/animal-3.jpeg" class="card-img-top img-fluid" alt="Pet Adotado">
                            <div class="card-overlay">
                                <p class="animal-name">Bella</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animal-card">
                    <div class="card border-0">
                        <div class="card-img-wrapper">
                            <img src="~/images/animal-4.jpeg" class="card-img-top img-fluid" alt="Pet Adotado">
                            <div class="card-overlay">
                                <p class="animal-name">Max</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials-section">
        <div class="container">
            <h2 class="text-start mb-5">O que nossos adotantes dizem</h2>
            <div class="row gap-4 justify-content-center align-content-lg-center">
                <div class="testimonial-card p-4 text-center">
                    <p class="lead">"A adoção foi super fácil e agora temos um novo membro na família!"</p>
                    <h6 class="text-muted">— Maria Souza</h6>
                </div>
                <div class="testimonial-card p-4 text-center">
                    <p class="lead">"Recomendo a Petlar para quem quer fazer a diferença na vida de um animal."</p>
                    <h6 class="text-muted">— João Silva</h6>
                </div>
                <div class="testimonial-card p-4 text-center">
                    <p class="lead">"Recomendo a Petlar para quem quer fazer a diferença na vida de um animal."</p>
                    <h6 class="text-muted">— João Silva</h6>
                </div>
            </div>
        </div>
    </section>

    <section class="partners-section py-5 bg-light text-center" style="width: 100vw; display: flex; align-items: center; justify-content: center;">
        <div class="container">
            <h2 class="text-start mb-5">Nossos Parceiros</h2>
            <div class="row gap-4 justify-content-center">
                <div class="col-md-3 flex-column d-flex justify-content-center align-items-center" style="width: 200px;">
                    <img src="~/images/ong-1.png" class="img-fluid" alt="Parceiro">
                    <p class="fw-bold">Coração Animal</p>
                </div>
                <div class="col-md-3 flex-column d-flex justify-content-center align-items-center" style="width: 200px;">
                    <img src="~/images/ong-2.png" class="img-fluid" alt="Parceiro">
                    <p class="fw-bold">
                        Companheiros da Esperança
                    </p>
                </div>
                <div class="col-md-3 flex-column d-flex justify-content-center align-items-center" style="width: 200px;">
                    <img src="~/images/ong-3.png" class="img-fluid" alt="Parceiro">
                    <p class="fw-bold">Ação Peluda</p>
                </div>
                <div class="col-md-3 flex-column d-flex justify-content-center align-items-center" style="width: 200px;">
                    <img src="~/images/ong-4.png" class="img-fluid" alt="Parceiro">
                    <p class="fw-bold">Amparo e Cuidado Animal</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-section position-absolute bottom-1">
        <div>
            <p>&copy; 2024 Petlar - Todos os direitos reservados.</p>
            <a href="/Privacy" class="text-white">Política de Privacidade</a> | <a href="/Terms" class="text-white">Termos de Uso</a>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
